<h1>Index Temporaire</h1>

<p><a asp-action="Inscription" asp-controller="Clients">Inscription à la billeterie</a></p>
<p><a asp-action="Connexion" asp-controller="Clients">Connexion à la billeterie</a></p>

<p>Bonjour @ViewData["PrenomNom"] !</p>

<p><a asp-action="Deconnexion" asp-controller="Clients">Déconnexion de la billeterie</a></p>
